@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  background-color: #ffffff;
  color: #0c0c4f;
  
}
html {
  scroll-behavior: smooth;
}

.grouline::before,
.grouline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Altura da borda */
  background-color: #0c0c4f; /* Cor da borda */
  transition: width 0.3s ease; /* Transição suave */
}

.grouline::after {
  left: auto; /* Posiciona à direita */
  right: 0;
}

.grouline:hover::before {
  width: 50%; /* Largura da borda ao passar o mouse */
}

.grouline:hover::after {
  width: 50%;
}